.navbar {
    margin-top: 0;
    margin-bottom: 0;
  }

.nav-link li {
  color: rgb(37, 238, 77);
}

  @media screen and (max-width: 600px) {
    /* Navbarレスポンシブ対応 */
    .nav-item li {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar a {
      margin-right: 0;
      margin-bottom: 10px;
    }}